<% provide(:title, 'Sign up') %>
<div class="container-fluid">
	<div class="row-fluid sign-up-form">
		<div class="form-well">
			<h2>Sign Up <small>and explore the beauty of the mountain</small></h2>
			<div class="well well-large container-fluid">
				<div class="row-fluid">
					<div class="span6">
						<p><strong>Create an Account</strong></p>
						<div class="divider"></div>
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
						  <%= render 'shared/error_messages', object: f.object %>
						  <div class="control-group">
							  <%= f.label :name, class: "control-label" %> 
							 	<div class="controls"><%= f.text_field :name, :autofocus => true, placeholder: "e.g., Robin Hood" %></div>
							</div>
							<div class="control-group">
							  <%= f.label :email, class: "control-label" %> 
							  <div class="controls"><%= f.email_field :email, placeholder: "e.g., greentights@gmail.com" %></div>
							</div>
							<div class="control-group">
							  <%= f.label :password, class: "control-label" %> 
							  <div class="controls"><%= f.password_field :password, :autocomplete => "off", placeholder: "e.g., ••••••••" %></div>
							</div>
							<div class="control-group">
								<div class="controls">
									<div class="sign-up-button"><%= f.submit "Sign up", class: 'btn btn-primary' %></div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="span4 offset1">
						<p><strong>Or sign up with:</strong></p>
						<div class="divider"></div>
						<%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :id => "sign_in", class: 'btn btn-primary btn-inverse' %>
					</div>
				</div>
				<p class="muted text-center">Already have an account? <%= link_to "Log in", new_session_path(resource_name) %></p>
			</div>
			<p class="muted text-center">By signing up you agree to our <a href="#termsModal" data-toggle="modal">terms</a></p>
		</div>
	</div>
</div>
<%= render 'popups/terms' %>