<div class="my_mountains_form">	
	<!-- want_to_go -->
	<div class="row-fluid">
		<% if current_user.present? then %>
			<% if @mymountains.where("user_id = ? AND type = ?", current_user.id, MyMountainRole::WANTTOGO).first %>
				<%= render 'mountains/undo_want_to_go' %> 
			<% else %>
				<%= render 'mountains/want_to_go' %>
			<% end %>
		<% else %>
			<%= render 'mountains/want_to_go' %>
		<% end %>
	</div>
	<!-- ive_been -->
	<div class="row-fluid pull-right">
		<% if current_user.present? then %>
			<% if @mymountains.where("user_id = ? AND type = ?", current_user.id, MyMountainRole::HAVEBEEN).first %>
				<%= render 'mountains/undo_ive_been' %>
			<% else %>
				<%= render 'mountains/ive_been' %>
			<% end %>
		<% else %>
			<%= render 'mountains/ive_been' %>
		<% end %>
	</div>
</div> 