<% unless user_bio_filled_in?(@user, @home_mountain) then %>
	<div class="text-center alert">
		<% if current_user == @user then %>
			<%= link_to "Update your profile", edit_user_path(@user)%> for when people come here!
		<% else %>
			Sorry about this, <%= @user.name %> hasn't updated their profile yet. 
		<% end %>
	</div>
<% end %>
<dl class="dl-horizontal">
	<% if @user.bio.present? then %>
		<dt>Bio:</dt><dd> <%= @user.bio %></dd>
	<% end %><br>	
	<% if @home_mountain.present? then %>
		<dt>Home Mountain: </dt><dd><%= if @home_mountain.present? then link_to @home_mountain.name, @home_mountain else "Select your stomping ground" end %> </dd>
	<% end %><br>	
	<!-- Add a form for select your stomping ground -->
	<% if @user.home_town.present? then %>
		<dt>Home Town:</dt> <dd><%= @user.home_town %></dd>
	<% end %><br>	
</dl>