<h1>Sign Up</h1>

<%= form_for( @user ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :first_name %> <%= f.text_field :first_name %> 

  <%= f.label :last_name %> <%= f.text_field :last_name %>

  <div><%= f.label :email %> <%= f.email_field :email %></div>

  <div><%= f.label :password %> <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %></div>

  <div>Agree to our terms? <%= f.check_box :terms %></div>

  <div><%= f.submit "Sign Up" %></div>

<% end %>

<%= render :partial => "shared/devise_links" %>