<%= simple_form_for ([@mountain, @photo]), html: {class: 'form-horizontal'} do |f| %>
	<div class="control-group">
		<%= f.input :image %>
		<%= f.input :name, :input_html => { class: 'span9' } %>
		<% unless @mountain.id? %>
			<%= f.input :mountain, :input_html => { class: 'span9' } %>
		<% end %>
		<%= f.input :description, :input_html => { class: 'span9', rows: '3' }%>
		<%= f.input :tag_list, :input_html => {class: 'select2-container select2-container-multi', style: 'width:75%'} %>
		<%= f.hidden_field :user_id, value: @user %>
	</div>
	<div class="btn-group-wrap">
  	<div class="btn-group">
			<%= f.button :submit, class: 'btn btn-primary' %>
		</div>
	</div>
<% end %> 
