<% provide(:title, @photo.name) %>
<p>Photo: <%= @photo.name %></p>
<p>Image: <%= @photo.image  %> </p>
<p>Image_url(:thumb): <%= @photo.image_url(:thumb) %> </p>
<p>Gnar: <%= @photo.gnars.count %></p>
<%= render 'gnar_form' %>
<p>Tags: <%= @photo.tag_list %></p>

<p>Mountain: <%= link_to @mountain.name, @mountain %> </p>
<ul>
	<%= render '/shared/show_relationship' %>
	<% @photo.attributes.each_pair do |h,v| %>
		<li><%= h.to_s %>: <%= v %></li>
	<% end %>
</ul>

<%= image_tag @photo.image_url if @photo.image? %>
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>