<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Where to Ski", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><div style= "display:inline"><%= render 'shared/search_box' %></div></li>
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "About",   about_path %></li>
          <% unless user_signed_in? %>
            <li><%= link_to "Explore Mountains", all_mountains_path %></li>
          <% end %>
          <% if user_signed_in? %> 
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
            <!-- TODO: Add sign_out CSS ID to enable javascript which is already coded. Need to only add if signed in via facebook -->
          <% else %>  
            <li><%= link_to "Sign in", "javascript:void(0);", :onclick => "popupdisplay();" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
<%= unless user_signed_in? then render 'shared/login' end %>
<script>
  $(".collapse").collapse();
</script>