<!DOCTYPE html>
<html>
 <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= yield(:description) %>">
    <meta name="keywords" content="<%= yield(:keywords) %>">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body class="<%= @landing_page ? 'landing_page' : ''%>", background="<%= @landing_page ? @photo.image : ''%>" data-spy="scroll" data-target="#scroll-tabs">
    
    <%= render 'layouts/header' %>
    <div class="container main-content-container">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= unless @no_footer then render 'layouts/footer' end %>
  </body>
</html>